* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #ffa31a 0%, #1b1b1b 100%);
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;

  justify-content: space-between;
  width: 50%;
  padding: 50px;
  background-color: #f2f2f2;
  border-radius: 25px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* NAVBAR */

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
}

li a {
  display: block;
  color: #ffa31a;
  position: relative;
  text-align: center;

  border-radius: 25px;
  font-weight: bold;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 32px;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 10px;
  letter-spacing: 5px;
  z-index: 1;
  transition: 0.5s;
}

li a:hover {
  border-radius: 30px;
  background: linear-gradient(to right, #ffa31a 0%, #1b1b1b 100%);
  color: #1b1b1b;
}

li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform-origin: left;
  background: #f2f2f2;
  border-radius: 25px;
  transition: transform 0.5s ease;
  transform: scaleX(1);
}

li a:hover::before {
  transform-origin: right;
  transition: transform 0.5s ease;
  transform: scaleX(0);
}

/* NAVBAR END */

.contactinfo h1,
.location h1 {
  font-size: 24px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.location {
  margin-bottom: 35px;
}

.contactinfo p,
.location p {
  margin-bottom: 15px;
  margin-left: 25px;
  color: grey;
}

.iconssocial {
  margin-left: 25px;
  margin-top: 30px;
}

.iconssocial a {
  margin-right: 15px;
  list-style-type: none;
  text-decoration: none;
  color: #ffa31a;
}
